/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Just+Another+Hand");
*{
  font-family: Helvetica, sans-serif !important;

}

.right{
  /* border:2px red solid; */
  position: absolute;
  right: 20%;
  color:black !important;
}
.left{
  /* border:2px red solid; */
  position: absolute;
  left:20%;
  color:black !important;


}
.full{
  /* border:2px red solid; */
  position: relative;
  /* list-style: none; */
  margin-bottom: 10px;

}
.ul{
  list-style: square;
  color:white;
  border:1px black solid;
  border-radius: 10px;
  font-size: 20px;
  padding-top:20px;
  padding-bottom: 20px;
}
h3{
  font-family: cursive;
  font-size: 32px;
  margin: 0px !important;
}



.item{
  text-decoration: none;
  color: white;
}



h2{
  font-size: 40px;
  position: relative;
  /* top: 10%; */
  /* left: 20%; */
  font-family: cursive;
}


.user-form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  justify-content: center;
  border: 2px solid inherit;
  border-radius: 30px;
  text-align: center ;
  width: 80%;
  background-color: rgb(247, 237, 237,0.8);

}

.main{
  position: relative;
  left: 10%;
  top: 20%;
  width: 100%;
  overflow: hidden !important;
}

.post-main{
  position: relative;
  left: 20%;
  top: 2% !important;
  overflow: hidden !important;
}

#userbtn{

height: 40px;
}

.userbtn{
  height: 42px !important;

}


.error{
  position: absolute;
  color:red;
  font-size: .6rem;
}

#post-form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  justify-content: center;
  border: 2px solid inherit;
  border-radius: 30px;
  text-align: center ;
  width: 68%;
  background-color: white !important;
}

.app-main{
  margin: 10% auto;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  margin-top: 5%; 

}

#posts{
  margin-top: 5%;
}

#btn{
  width: 20%;
  position: relative;
  left: 40%;
  margin-top: 4%;
  font-size: 100%;
}

 .inputbox{
  /* margin: 10px !important;
  width: 80% !important;
  position: relative;
  left: 10%; */

  border: 0;
  height: 40px;
  width: 100% !important;
  margin: 3% !important;
  border-radius: 0;
  border-bottom: 1px solid #ebebeb;

}

#name{
  color: grey;
  font-weight: 400px;
  text-transform: uppercase;
}



#cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  margin-top: 2%;
  border-radius: 20px;
  background-color: rgb(207, 195, 195);
}

hr{
  color: grey;
  width: 80%;
}


#cont li{
  font-size: 28px;
  margin: 0px !important;
  font-weight: 400;
  font-family: cursive;
  color: black;
  list-style: none; 

}
#post-name{
  margin-top: 2% !important;
  text-transform: uppercase;
  text-align: left;
}

#post-item{
  font-size: 28px;
  width: 100% !important;
}


p.buttonbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  margin: 2px;
}

.btn {  
  width: 30%;
  cursor: pointer;
  font-size: 60%;
  background: none;
  border: 0;
  margin: 5px;
  height: 30px;
  font-weight: 700;
  color: grey;
}

.btn:hover {
  background: red;
  border-radius: 5px;
  color: white;
}



.nav-itms{
  text-decoration: none !important;
  color: white;
  margin-right: 24px ;
  margin-left: 24px ;
  font-size: 18px;

}

.nav-main{
  /* color: white !important; */
  color: green !important;
  font-weight: 600;
  font-size: 24px !important;
  margin-right: 4% !important;
}

Link{
  text-decoration: none !important;

}


.dashbtn{
  background-color: rgb(28, 238, 28);
  border-radius: 8px;
  padding: 10px;
  color: white;
  border: none;
  outline: none;
}



/* Profile Page Css */

.profile{
  text-align: center;
  margin-top: 2%;
}

#profileheader{
  color: black;
  text-align: center;
  text-decoration: red 5px underline;
  margin-bottom: 4%;
}

#personaldtl{
  text-transform: uppercase;
  font-weight: 500;
  padding: 2px;
}

#profilepic{
  height: 200px;
  margin-bottom: 2%;
}

/* Faq   */

.container-md{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #51644f;
}


.content-box{
  padding: 20px;
}


/* faqssssss */


/* help */

.help-heading {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #51644f	;
  text-align: center;
}

.faq-a:link{
  text-decoration: none;
  color: #51644f	;
}
.faq-a:visited{
  text-decoration: none;
  color: #51644f	;
}
.faq-a .help-content:hover{
  background-color: #51644f;
  color: white;
}
.help-row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 30%;
  padding: 20px;
}
.help-content{
  margin: 10px;
  border: 2px solid black;
  padding: 10px;
  height: 125px;
  text-align: center;
  
}
.help-h3{
  text-align: center;
  font-size: 24px;
}
.help-para{
  padding: 5px;
  overflow: hidden;
  font-size: 20px;
}








.faq-h1 {
  text-align: center;
  padding: 20px;
  font-weight: 600;
  text-shadow: 1px;
}

.faq-h2,
.faq-h3,
.faq-h4 {
  padding: 10px;
}

.faq-h2 {
  font-weight: 500;
  font-size: 3ch
}

/* .btn {
  margin-top: 10px;
  margin-left: 10px;
} */


/* post card css */

.info{
  padding: 2%;
}

.cardfooter{
    margin-top: 2% ;
    background-color: rgb(216, 208, 208);
    width: 100%;
}

.info h4 span{
  text-transform: uppercase;
}


.postcard{
  position: relative;
  left: 6%;
  top: 5%;
  text-align: center;
  padding: 1%;
}

#loadmorebtn{
  background-color: rgb(12, 177, 48);
  color: white;
  font-size: 16px;
  margin-left: 5%;
  margin-top: 5%;
}

#nopost{
  color: grey;
  margin-left: 5%;


}


/* splashscreen css */

.splashscreen{
  width: 100%;
  height: 100vh;
  background-color: black;
  text-align: center;
  padding: 20%;
}



@media screen and (max-width: 480px) {
  #post-form{
    width: 80%;
    padding: 2px;

  }
  .post-main{
    left: 10%;
    margin-bottom: 5%;
  }
}



/* ///////////Seller Dashboard ///////////// */
.seller-dashboard{
  margin: 10%;
  text-align: center;
}


.seller-dashboard-buttons{
  margin: 26% ;
  margin-top: 5%;
  display: flex;
  padding: 5%;
  justify-content: center;
  justify-content: space-around;
}

.sell-btn{
  padding: 5% !important;
  width: 150px;
}

/* //////////Dashboard////////////// */

.dashboard-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  
}

.cardcontent{
 text-align: center;

}

.order-btn{
  display: flex;
  justify-content: center;
}

.order{
  padding: 10px !important;
  font-size: 16px !important;
  border-radius: 10px !important;
}

.card-main{
  width: 500px;
  margin: 2%;
  padding: 8px;
}


/* /////tabs///// */


.tabs{
  text-decoration: none;
  color: black;
}

.tabs:focus{
  color: red;
}


/* //////About us////// */

.about-main{
	margin:0px !important;
	padding:0px !important;
	width: 100%;
	min-height: 100vh;
	background-color: #ddd;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	overflow: hidden !important;
}
.about-container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
	overflow: hidden !important;

	
}
.content-section{
	float: left;
	width: 55%;
}
.about-image-section{
	float: right;
	width: 40%;
}
.about-image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .about-text h2{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .about-text p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .about-text .about-button{
	margin-top: 30px;
}
.content-section .about-text .about-button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .about-text .about-button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social span{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social span:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.about-container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.about-image-section{
	float:none;
	width:100%;
	
}
.about-image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .about-text .about-button{
	text-align: center;
}
.content-section .about-text .about-button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}




/* footer */

.containerfoot{
	max-width: 1170px;
	margin:auto;
	height: fit-content;
	font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row !important;

}
.footerrow{
	display: flex !important;
	flex-wrap: wrap !important;
  flex-direction: row !important;
}
.footercol ul{
	list-style: none;
	margin: 50px;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
	margin-left: 30px;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left: 10%;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 120px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li :hover{
	color: #ffffff;
	padding-left: 8px;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}






/* ///////Contact form/// */


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


.contact-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Poppins", sans-serif;

}

.contact-form-main {
  background-color: #1abc9c;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #149279);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form-main:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #1abc9c;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

.form-body {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.contact-title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.contact-input-container {
  position: relative;
  margin: 1rem 0;
}

.contact-input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

.contact-textarea {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.contact-input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.contact-input-container .contact-textarea label {
  top: 1rem;
  transform: translateY(0);
}

.contact-btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #1abc9c;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.contact-btn:hover {
  background-color: transparent;
  color: #fff;
}

.contact-input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.contact-input-container span:before,
.contact-input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #1abc9c;
  top: 50%;
  transform: translateY(-50%);
}

.contact-input-container span:before {
  left: 50%;
}

.contact-input-container span:after {
  right: 50%;
}

.contact-input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.contact-input-container.focus span:before,
.contact-input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #1abc9c;
}

.contact-text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.contact-information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.contact-icon {
  width: 28px;
  margin-right: 0.7rem;
}

.contact-social-media {
  padding: 2rem 0 0 0;
}

.contact-social-media p {
  color: #333;
}

.contact-social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.contact-social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #1abc9c, #149279);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.contact-social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #1abc9c;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #1cd4af, #159b80);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .contact-form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .contact-text {
    margin: 1rem 0 1.5rem 0;
  }

  .contact-social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .contact-container {
    padding: 1.5rem;
  }

  .contact-contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  .form-body,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .contact-text,
  .contact-information,
  .contact-social-media p {
    font-size: 0.8rem;
  }

  .contact-title {
    font-size: 1.15rem;
  }

  .contact-social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .contact-icon {
    width: 23px;
  }

  .contact-input {
    padding: 0.45rem 1.2rem;
  }

  .contact-btn {
    padding: 0.45rem 1.2rem;
  }
}



/* /////Details Page/// */

.subheadings {
  margin: 0;
  font-size: 1.596rem;
  color: rgba(0, 47, 52, 0.64);
  letter-spacing: normal;
}
#i1,
#i2,
#i3 {
  display: none;
}

/* .container {
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 38%;
  user-select: none;
  background-color: #1c1c1c;
  border: solid 10px #616161;
  border-radius: 10px;
}

.container .slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container .slide_img img {
  width: inherit;
  height: inherit;
} */

.prev,
.next {
  width: 12%;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: rgba(88, 88, 88, 0.2);
  color: rgba(244, 244, 244, 0.9);
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
}

.next {
  right: 0;
}
.prev {
  left: 0;
}

/* label span {
  position: absolute;
  font-size: 100pt;
  top: 50%;
  transform: translateY(-50%);
} */

.prev:hover,
.next:hover {
  transition: 0.3s;
  background-color: rgba(88, 88, 89, 0.8);
  color: #ffffff;
}

.container #nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}

#nav_slide .dots {
  top: 20px;
  width: 14px;
  height: 14px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.4s;
}

#nav_slide .dots:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.25s;
}

.slide_img {
  z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1,
#i2:checked ~ #nav_slide #dot2,
#i3:checked ~ #nav_slide #dot3 {
  background-color: rgba(255, 255, 255, 0.9);
}

@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 685px) {
  /* .container {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  } */

  label span {
    font-size: 50pt;
  }

  .prev,
  .next {
    width: 15%;
  }
  #nav_slide .dots {
    width: 12px;
    height: 12px;
  }
}
@media screen and(min-width: 970px) {
  .me {
    display: none;
  }
}







/* 

.text{
  z-index: 1;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-size: 40px;
  font-weight: 170;
  display: flex;
  position: relative;
  top: 40%;
  left: 90%;
  transform: translate(-50%, -50%);
  letter-spacing: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.2));
}

.text span:nth-child(1){
  color: #4285F4;
  animation: animText 1s ease-in-out infinite;
}

.text span:nth-child(2){
  color: #EA4335;
  animation: animText 1s ease-in-out infinite;
  animation-delay: 0.8s;
}

.text span:nth-child(3){
  color: #FBBC05;
  animation: animText 1s ease-in-out infinite;
  animation-delay: 1.2s;
}

.text span:nth-child(4){
  color: #34A853;
  animation: animText 1s ease-in-out infinite;
  animation-delay: 1.6s;
}

.text span:nth-child(5){
  color: #34A853;
  animation: animText 1s ease-in-out infinite;
  animation-delay: 1.6s;
}


.text span:nth-child(6){
  color: #34A853;
  animation: animText 1s ease-in-out infinite;
  animation-delay: 1.6s;
}


.text span:nth-child(7){
  color: yellow;
  animation: animText 1s ease-in-out infinite;
  animation-delay: 1.6s;
}

.text span:nth-child(8){
  color: blue;
  animation: animText 1s ease-in-out infinite;
  animation-delay: 1.6s;
}


@keyframes animText{
  0%{
    font-weight: 200;
  }
  50%{
    font-weight: 900;
  }
  100%{
    font-weight: 200;
  }
}

.text span:nth-child(5){
  color: #4285F4;
  font-weight: 900;
  animation: animMark 1s ease-in-out infinite;
}

@keyframes animMark{
  0%{
    transform: rotate(30deg);
  }
  50%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(30deg);
  }
} */