.inputbox{
  /* margin: 10px !important;
  width: 80% !important;
  position: relative;
  left: 10%; */

  border: 0;
  height: 40px;
  width: 100% !important;
  margin: 3% !important;
  border-radius: 0;
  border-bottom: 1px solid #ebebeb;

}